---
// Recibe props
const { title, class: sectionClass = '', id = '' } = Astro.props;
---

<section class={sectionClass} id={id}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
 section {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0 2rem; /* Para que no quede pegado al borde */
  padding-bottom: 2rem;
  padding-top: 2rem;
}

section:not(.hero-section):not(.full) {
  max-width: 100%; /* Elimina la restricción de ancho */
  margin: 0 auto 48px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h2 {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  section:not(.hero-section):not(.full) {
    margin-bottom: 38px;
  }
}

</style>

